<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a>
    <p></p>
    <script>
        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onopen = function(e) {
            ws.send(document.cookie);
        }
    </script>

    {% if nick %}
    <header class="header">
        <div class="name">
            {{ nick }}
            <p></p>
        </div>

        <script>
            async function deleteToken() {
                const cookieName = 'jwt';
                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;';
                window.location.href = "http://127.0.0.1:8000/";
            }
        </script>

        <button onclick="deleteToken()">Logout</button>
    </header>

    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <p></p>
    <a href="/user/register"> <button> Sign Up </button> </a>
    {% endif %}

    <script>
        async function createList() {
            const title = document.getElementById("title").value;
            const description = document.getElementById("description").value;

            const listData = {
                title: title,
                description: description
            };
            try{
                const response = await fetch("/create/list", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(listData),
                });
                if (!response.ok){
                    throw new Error("response was not ok")
                }

                const result = await response.json();
                console.log("Success:", result);
            } catch (error){
                console.error("Error:", error);
            }
        }
    </script>
    <form onsubmit="event.preventDefault(); createList();">
        <input type="text" id="title" placeholder="Название" required>
        <input type="password" id="description" placeholder="Описание" required>
        <button type="submit">Создать</button>
    </form>
</body>
</html>