<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script>
        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onopen = function(e) {
            ws.send(document.cookie);
        }
    </script>

    {% if nick %}
    <header class="header">
        <div class="name">
            {{ nick }}
        </div>

        <script>
            async function deleteToken() {
                const cookieName = 'jwt';
                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;';
                window.location.href = "http://127.0.0.1:8000/";
            }
        </script>

        <button onclick="deleteToken()">Logout</button>
    </header>

    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <a href="/user/register"> <button> Sign Up </button> </a>
    {% endif %}

    <form id="deleteUserForm">
        <input type="text" id="nick" placeholder="Nickname" required>
        <button type="submit">Удалить</button>
    </form>

    <script>
        document.getElementById('deleteUserForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const nick = document.getElementById('nick').value;

            fetch('/user/delete/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ nick: nick })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('User not found');
                }
                return response.json();
            })
            .then(data => {
                alert(data.detail);
            })
            .catch(error => {
                alert(error.message);
            });
        });
    </script>
</body>
</html>