<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a>
    <p></p>

    <script src="/static/script.js">
        sendCookie();
    </script>

    <script src="/static/script.js"></script>


    {% if nick %}
    <header class="header">
        <div class="name">
            {{ nick }}
            <p></p>
        </div>

        <button onclick="deleteToken()">Logout</button>
        <p></p>
    </header>

    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <p></p>
    <a href="/user/register"> <button> Sign Up </button> </a>
    <p></p>
    {% endif %}

    <form id="deleteUserForm">
        <input type="text" id="nick" placeholder="Nickname" required>
        <button type="submit">Удалить</button>
    </form>

    <script>
        document.getElementById('deleteUserForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const nick = document.getElementById('nick').value;

            fetch('/user/delete/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ nick: nick })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('User not found');
                }
                return response.json();
            })
            .then(data => {
                alert(data.detail);
            })
            .catch(error => {
                alert(error.message);
            });
        });
    </script>
</body>
</html>