<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a>

    <script>
        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onopen = function(e) {
            ws.send(document.cookie);
        }
    </script>

    {% if nick %}
    <header class="header">
        <div class="name">
            {{ nick }}
        </div>
        <script>
            async function deleteToken() {
                const cookieName = 'jwt';
                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;';
                window.location.href = "http://127.0.0.1:8000/lists";
            }
        </script>

        <button onclick="deleteToken()">Logout</button>
    </header>

    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <p></p>
    <a href="/user/register"> <button> Sign Up </button> </a>
    {% endif %}

    {% for list in response %}
        <li>{{ list[0] }} {{ list[1] }} {{ list[2] }}</li>
    {% endfor %}
</body>
</html>