<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
</head>
<body>
    <div id="content"></div>
    <script>
        async function loginUser() {
            const nick = document.getElementById("nick").value;
            const password = document.getElementById("password").value;
            const response = await fetch('/user/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'nick': nick,
                    'password': password
                })
            });
            if (response.ok) {
                const data = await response.json();
                let token = data.token;
                console.log(data.token);
                document.cookie = "jwt=" + data.token + "; path=/";
                window.location.href = "http://127.0.0.1:8000/users";
            } else {
                const errorData = await response.json();
                console.error('Error:', errorData.detail);
            }
        }
        </script>
    <form onsubmit="event.preventDefault(); loginUser();">
        <input type="text" id="nick" placeholder="Nickname" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/user/register"> <button> Sign Up </button> </a>
</body>
</html>