<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/users"><p>/users - Посмотреть юзеров</p></a>
    <a href="/profile/user"><p>/profile/{user} - Профиль юзера</p></a>
    <a href="/user/login"><p>/user/login - Войти в аккаунт</p></a>
    <a href="/user/register"><p>/user/register - Создать аккаунт</p></a>
    <a href="/user/delete"><p>/user/delete - Удалить юзера(Для админа)</p></a>
    <a href="/lists"><p>/lists- Все посты</p></a>
    <a href="/lists/user"><p>/lists/{user}- Все посты юзера</p></a>
    <a href="/create/list"><p>/create/list- Создать пост для авторизованных</p></a>
</body>
</html>