<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <title>Document</title>
</head>

<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a>
    <p></p>
    <script>
        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onopen = function(e) {
            ws.send(document.cookie);
        }
    </script>



    {% if nick %}
    <header class="header">
        <div class="name" id="name">
            {{ nick }}
            <p></p>
        </div>

        <script>
            async function deleteToken() {
                const cookieName = 'jwt';
                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;';
                window.location.href = `http://127.0.0.1:8000/`;
            }
        </script>

        <button onclick="deleteToken()">Logout</button>
    </header>

    {% else %}

    <header>
        <nav>
            <a href="/user/login"> <button> Sign In </button> </a>
            <p></p>
            <a href="/user/register"> <button> Sign Up </button> </a>
        </nav>
    </header>
    
    {% endif %}

    <div class="container">
        <div class="user-profile">
            <img alt="Аватар пользователя" id="avatar">
            <script>
                    const currentUrl = window.location.href;

                    const url = new URL(currentUrl);
                    let name = url["pathname"].split("/")
                    let size = name.length;
                    if (name) {
                        fetch(`avatars/${name[size-1]}`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Сеть ответила с ошибкой: ' + response.status);
                                }
                                return response.blob();
                            })
                            .then(blob => {
                                const url = URL.createObjectURL(blob);
                                const img = document.getElementById('avatar');
                                img.src = url;
                                img.style.display = 'block';
                            })
                            .catch(error => {
                                console.error('Произошла ошибка:', error);
                            });
                    } else {
                        console.error('Имя пользователя не указано в URL');
                    }
            </script>

            <h1 class="username">Никнейм - {{response[0]}}</h1>
            <h1 class="user=name">Роль - {{response[2]}} </h1>
            <p class="bio">Краткая информация о пользователе. Здесь можно написать о своих интересах, хобби и т.д.</p>
            <div class="user-details">
                <p><strong>Email:</strong> user@example.com</p>
                <p><strong>Возраст:</strong> 25 лет</p>
                <p><strong>Город:</strong> Москва</p>
            </div>
        </div>
    </div>
</body>
</html>