<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <title>Document</title>
</head>

<body>
    {% if nick %}
    <header class="header">
        <div class="name">
            {{ nick }}
        </div>

        <script>
            async function deleteToken() {
                const cookieName = 'jwt';
                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;';
                window.location.href = "http://127.0.0.1:8000/";
            }
        </script>

        <button onclick="deleteToken()">Logout</button>
    </header>

    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <a href="/user/register"> <button> Sign Up </button> </a>
    {% endif %}

    <div class="container">
        <div class="user-profile">
            <img src="avatar.jpg" alt="Аватар пользователя" class="avatar">
            <h1 class="username">Никнейм - {{response[0]}}</h1>
            <h1 class="username">Роль - {{response[2]}} </h1>
            <p class="bio">Краткая информация о пользователе. Здесь можно написать о своих интересах, хобби и т.д.</p>
            <div class="user-details">
                <p><strong>Email:</strong> user@example.com</p>
                <p><strong>Возраст:</strong> 25 лет</p>
                <p><strong>Город:</strong> Москва</p>
            </div>
        </div>
    </div>
</body>
</html>