<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a>

    <form action="">
        <p>Имя <input type="text" name="name" id="name"></p>
        <p>Почта <input type="text" name="email" id="email"></p>
        <p>Возраст <input type="text" name="age" id="age"></p>
        <p>Город <input type="text" name="city" id="city"></p>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>