<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a>
    <p></p>
    {% if nick %}
    <header class="header">
        <div class="name" id ="name">
            {{ nick }}
            <p></p>
        </div>
        <script>
            async function deleteToken() {
                const cookieName = 'jwt';

                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;';

                window.location.href = "http://127.0.0.1:8000/settings";
            }
        </script>

        <button onclick="deleteToken()">Logout</button>
    </header>
    <script>
        async function changePhoto() {
            const photoInput = document.getElementById("photo");
            const username = document.getElementById("name").textContent.trim();
            const formData = new FormData();
            formData.append("file", photoInput.files[0]);
            formData.append("username", username);
            formData.append("text1", "");
            formData.append("text2", "");
            formData.append("text3", "");
            formData.append("text4", "");

            const response = await fetch("/settings", {
                method: "POST",
                body: formData
            });

            
            if (response.ok){
                console.log("ok")

            } else {
                console.log("error")
            }
        }
    </script>

    <form onsubmit="event.preventDefault(); changePhoto();">
        <p>Аватарка <input type="file" name="photo" id="photo" required></p>
        <button type="submit">Сохранить</button>
    </form>

    <form onsubmit="event.preventDefault(); changeData();"></form>
        <p>Имя <input type="text" name="name" id="name" required></p>
        <p>Почта <input type="text" name="email" id="email"></p>
        <p>Возраст <input type="text" name="age" id="age" required></p>
        <p>Город <input type="text" name="city" id="city"></p>
        <button type="submit">Сохранить</button>
    </form>

    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <p></p>
    <a href="/user/register"> <button> Sign Up </button> </a>
    {% endif %}

</body>
</html>