<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Пользователи</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a> <p></p>

    <script>
        async function sendCookie() {
            const ws = new WebSocket("ws://localhost:8000/ws");
                await new Promise((resolve) => {
                ws.onopen = function(e) {
                    resolve();
                };
            });
            ws.send(document.cookie);
        }
    
        sendCookie();
    </script>


    {% if nick %}
    <header class="header">
        <div class="name">
            {{ nick }}
            <p></p>
        </div>

        <script>
            async function deleteToken() {
                const cookieName = 'jwt';
                document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/;';
                window.location.href = "http://127.0.0.1:8000/users";
            }
        </script>

        <button onclick="deleteToken()">Logout</button>

        <div>
            <h1>Список пользователей</h1>
            <ul id="user-list">
                {% for user in users %}
                    <li>{{ user[0] }} - {{ user[1] }} - {{ user[2] }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>

    {% else %}
    <div>
        <h1>Чтобы посмотреть пользователей необходимо войти в аккаунт</h1>
    </div>
    <a href="/user/login"> <button> Sign In </button> </a>
    <p></p>
    <a href="/user/register"> <button> Sign Up </button> </a>
    {% endif %} 


    <h1>Количество подключенных пользователей: <span id="user-count">0</span></h1>

    <script>
        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onopen = function(e) {
            ws.send(document.cookie);
        }
        ws.onmessage = function(event) {
            var message = JSON.parse(event.data);
            if (message.user_count !== undefined) {
                document.getElementById("user-count").innerText = message.user_count;
            } else {
                console.log("Received message:", message);
            }
        };
    </script>
</body>
</html>