<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Пользователи</title>
</head>
<body>

    {% if name %}
    <header class="header">
        <div class="name">
            {{ name }}
        </div>
    </header>
    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <a href="/user/register"> <button> Sign Up </button> </a>
    {% endif %}


    <h1>Список пользователей</h1>
    <ul id="user-list">
        {% for user in users %}
            <li>{{ user[0] }} - {{ user[1] }} - {{ user[2] }}</li>
        {% endfor %}
    </ul>


</body>
</html>