<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button>To main</button></a>
    <p></p>

    <script src="/static/script.js">
        sendCookie();
    </script>

    <script src="/static/script.js"></script>


    {% if nick %}
    <header class="header">
        <div class="name">
            {{ nick }}
        </div>
        <p></p>

        <button onclick="deleteToken()">Logout</button>
        <p></p>
    </header>

    {% else %}
    <a href="/user/login"> <button> Sign In </button> </a>
    <p></p>
    <a href="/user/register"> <button> Sign Up </button> </a>
    <p></p>
    {% endif %}

    {% for list in response %}
        <li>{{ list[0] }} {{ list[1] }} {{ list[2] }}</li>
    {% endfor %}
</body>
</html>